{{ partial "header.html" . }}

{{ $pctx := . }}

{{ if .IsHome }}
{{ $pctx = .Site }}
{{ else }}

<header class="page-header">
  <a href="/" style="font-size: .8em">← Back</a>
  <h1 class="post-title">{{ if eq .Data.Singular "tag" }}#{{ .Data.Term }}{{ else }}{{ end }}</h1>
</header>
{{ end }}

<table style="font-size: .8em">
  {{ range $index, $page := (where $pctx.RegularPages "Type" "in" .Site.Params.mainSections) }}
  <tr>
    <td style="font-variant-numeric: tabular-nums;width:200px">{{ $page.Date.Format "2006-01-02" }}</td>
    <td>
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </td>
  </tr>
  {{ end }}
</table>

{{ partial "footer.html" . }}